<h2>Configuraci&oacute;n</h2>
<form role="form">
	<div class="form-group">
		<label for="mailServerHost">Mail Server Host:</label>
		<input type="text" class="form-control" id="mailServerHost" ng-model="configurationProperties.mail_server_host">
	</div>
	<div class="form-group">
		<label for="mailServerPort">Mail Server Port:</label>
		<input type="text" class="form-control" id="mailServerPort" ng-model="configurationProperties.mail_server_port">
	</div>
	<div class="form-group">
		<label for="mailServerUser">Mail Server User:</label>
		<input type="text" class="form-control" id="mailServerUser" ng-model="configurationProperties.mail_server_user">
	</div>
	<div class="form-group">
		<label for="mailServerPass">Mail Server Password:</label>
		<input type="password" class="form-control" id="mailServerPass" ng-model="configurationProperties.mail_server_pass">
	</div>
	<div class="form-group">
		<label for="mailServerFolder">Mail Server Folder:</label>
		<input type="text" class="form-control" id="mailServerFolder" ng-model="configurationProperties.mail_server_folder">
	</div>

	<button type="submit" class="btn btn-default" ng-click="save()">Guardar</button>
</form>
